<launch>
    <arg name="pointcloud_input" default="/rslidar_points" /> <!-- PointCloud source topic-->
    <arg name="image_input" default="/pylon/raw_image_3" /> <!-- Raw Image source topic to be rectified-->
    <arg name="camera_info_input" default="/camera_info" /> <!-- CameraInfo source topic-->
    <arg name="fusion_output_topic" default="/points_output"/>
    <arg name="camera_matrix" default="475.0,0.0,240.0,0.0,475.0,151.0,0.0,0.0,1.0"/>
    <arg name="save_path" default="/home/feng/catkin_ws/src/lidar_camera_offline_calibration/cfg"/>
    <node pkg="lidar_camera_offline_calibration" type="lidar_camera_offline_calibration_node" name="ball_calibration" output="screen">
     
        <param name="pointcloud_input" value="$(arg pointcloud_input)" />
        <param name="image_input" value="$(arg image_input)" />
        <param name="camera_info_input" value="$(arg camera_info_input)" />
        <param name="fusion_output_topic" value="$(arg fusion_output_topic)" />
        <param name="camera_matrix" value="$(arg camera_matrix)" />
       <!-- <remap from="/pylon_camera_node/image_raw" to="/camera/rgb/image_raw"/>
        <remap from="/velodyne_points" to="/laserPointCloud"/>/-->
    </node>

</launch> 
